* { margin: 0; padding: 0; font-family: trebuchet ms; color: #333;font-size:1em; }
body { background: url(img/background-replacement-windows.jpg); background-color:#95a4ae;}

#shell {
float:center;
width:927px;
overflow:hidden;

}
#header{
float:left;
width:100%;
height: 134px;
}
#header-top{
float:left;
height: 4px;
width:100%;
overflow: hidden;
text-align:left;
background: url(img/header-top.jpg) no-repeat;
}
#header-mid{
float:left;
height: 124px;
width:100%;
overflow: hidden;
text-align:left;
background: url(img/header-mid.jpg) repeat-x;
}
#header-bottom{
float:left;
height: 6px;
width:100%;
overflow: hidden;
background: url(img/header-bottom.jpg);
}
#splash{
float:left;
height: 201px;
width:100%;
overflow: hidden;
}
#splash-left{
float:left;
height: 195px;
width:317px;
overflow: hidden;
background: url(img/splash-left.jpg);
}
#splash-right{
float:left;
height: 195px;
width:610px;
overflow: hidden;
}
#splash-footer{
float:left;
height: 6px;
width:100%;
overflow: hidden;
background: url(img/splash-footer.jpg);
}
#content{
float:left;
width:100%;
overflow: hidden;
text-align:left;
background-color:#fff;
}
#content-left{
float:left;
width:215px;
overflow: hidden;
text-align:left;
background: url(img/content-left-vdiv.jpg) no-repeat;
background-position: 210px 18px;
}
#content-right{
float:left;
width:712px;
overflow: hidden;
text-align:left;
}
#footer{
float:left;
height: 52px;
width:100%;
overflow: hidden;
}
#footer-top{
float:left;
height: 47px;
width:100%;
overflow: hidden;
background: url(img/footer-top.jpg);
}
#footer-bottom{
float:left;
height: 10px;
width:100%;
overflow: hidden;
background: url(img/header-top.jpg);
}
.option {
width:100%;float:left;padding-top:25px;
}
.option-image {
width:15%;float:left;margin-left:15px;overflow:hidden;
}
.option-color {
width:10%;float:left;padding-left:15px;padding-bottom:35px;
}
.option-glass {
width:155px;float:left;padding-left:15px;padding-bottom:35px;font-size:.8em;text-align:center;
}
.option-text {
width:80%;float:left;
}

.option p {padding: 0px 5px 0px 5px;font-size:.8em;color:#666}
.option-image h2 {font-size:10px;}
.option img {border:0px;}

.content { text-align:left;padding:15px;padding-left:21px;}
#splash ul {padding: 2px 0px 0px 39px;list-style-image: url(img/bullet-splash.gif); font-size:.8em;}
#splash li {color:#fff;}
#content-left li {padding: 2px 0px 0px 25px;}
#content-left a {color:#fff;text-decoration:none;padding-left:16px;font-size:.8em;background: url(img/bullet-grey.png) no-repeat; background-position: left; line-height: 18px; display: block;}
#content-left a:hover {color:#c72121;padding-left:16px;font-size:.8em;background: url(img/bullet-grey.png) no-repeat; background-position: left;}



#content-left.sub li {padding: 2px 0px 0px 25px;}
.sub a {color:#fff;text-decoration:none;padding-left:16px;font-size:.8em;background: url(img/bullet-grey.jpg) no-repeat;}
.sub a:hover {color:#000;padding-left:16px;font-size:.8em;background: url(img/bullet-red.jpg) no-repeat;}


a:hover{color:#c72121;}
.currentpage {color:#c72121;padding-left:16px;font-size:.8em;background: url(img/bullet-red.jpg) no-repeat;}

h2 {padding: 0px 0px 0px 5px;font-size:1em;}
.off a, .off {color:#ccc;}

h1, h1 strong {color:#c72121;}

.bathroom-tile-flooring-dropdown {
    border          : 2px solid #b21816;
    border-radius   : 4px;
    float           : right;
    height          : 22px;
    margin-right    : 10px;
    margin-top      : 4px;
}

.bathroom-tile-flooring-dropdown-main {
    float: right;
    width: 500px;
}

.bathroom-tile-flooring-dropdown-color {
    border          : 2px solid #b21816;
    border-radius   : 4px;
    float           : right;
    height          : 22px;
    margin-right    : 10px;
    margin-top      : 5px;
}

.bathroom-tile-flooring-dropdown-class {
	float: right;
}

.bathroom-tile{
    float 	: left;
    height	: 50%;
    width 	: 100%;
}

.bathroom-tile-title {
	float 	: left;
    height 	: 15%;
    width 	: 185px;
}
.bathroom-tile-button {
    float   : right;
}
.bathroom-tile-main {
	float 	: left;
    height 	: 130px;
    padding : 8px 3.65%;
    width 	: 185px;
}

.bathroom-tile-title-head {
	padding-bottom : 20px;
	padding-top    : 10px;
	float 		   : left;
    height 		   : 10%;
    width 		   : 185px;
}


/* new css*/
.structureright
{
    /*border-style: solid;*/
   
   
    max-width: 145px;
    margin: 0 auto;
    margin-top: 10px;
    
}

.structuresleft
{
   
      width: auto;
    margin: 0 auto;

}


.structureslider
{
    /*border-style: solid;
    padding: 5px 5px 5px 20px;*/
  width:100%;
    height:auto;
    align-content: center;padding-left: 5px;
}
.structuresliderleft
{
    border-style: solid;
    padding: 1px;
  width:52.6%;height:auto;
    float:left;
}
.leftt
{
/* border-style: solid;*/
   
   width:64%;
    height:auto;
    float:left;
    align-content: center;
     padding: 0px 10px;     
    overflow: hidden;
    
}
.rightt
{
 /*border-style: solid;*/
 
    width:31%;
    height: auto;
    float:right;
    align-content: center;
    padding: 0px 5px 0px 10px; 
    
    
}

/* Another CSS */


/* new css*/

.structuresleft_after
{
   
 width: 50%;
    float: right;

}


.structureslider_after
{
    /*border-style: solid;
    padding: 5px 5px 5px 20px;*/
   width:100%;
    height:auto;
    align-content: center;padding-left: 5px;
}

.right-top-section{
    margin: 10px 0;
    overflow: hidden;
    }

.right-top-section .structuresleft{
    width: 53%;
    margin: 0 20px 0 0;
    float: left;
    }

.structuresleft .structureright-btn{
        width: 30px;
    float:left;
    display: block;
    }

.bgLayer a img{
    width: 200px;
height: 200px;
display: block;
}

#sliderFrame_after a.imgLink{
    display: none !important;
}

#sliderFrame_after  img, #sliderFrame_after a.imgLink img{
    height: 200px;
width: 200px;
display: block;
overflow: hidden;
}

.right-top-section .structureright-btn{
    margin-top: 0px;
    overflow: hidden;
}


#content-left .realestate_btn a{
    background:none;
    display: block;
    margin: 0 auto;
    width: 160px;
    background: none;
}

a.repair-btn, a.new-construction-btn{
    padding: 0;
    display: block;
    width:47%;
    float:left;
}

#slider_after, #slider_after .sliderInner {
    border-radius: 6px;
    box-shadow: none !important;
    display: block;
    height: 450px !important;
    overflow: hidden;
    width: 189px !important;
}


#slider_after .navBulletsWrapper {
    bottom: 0 !important;
    margin: 0 auto;
    overflow: hidden;
    position: absolute !important;
    width: 99%;
    top: inherit
}

.jm-sitemap{
    padding-left:10px;
    }
.jm-sitemap h1{
        padding-left: 15px;
    padding-top: 20px;
    color: #c72121;
    font-size: 1.3em;
}
 
.jm-sitemap ul  {
    list-style-type: circle;
    padding:12px 18px;
}
.jm-sitemap ul li{
    
   list-style:disc;
 
}

#toolBar .pull
{
	width: 100%;
}
#toolBar .pull-left{
	float:left;
	display: block;
	width: 30%;
}
#toolBar .pull-center{
	float:left;
	display: block;
	width: 35%;
	
}
#toolBar .pull-right{
	float:right;
	display: block;
	width: 35%;
}

#toolBar .pull-right img
{
	float: right;
	margin-right: 20px;
}
#toolBar .pull-right .navBulletsWrapper
{
	top:150px !important;
}

#toolBar .pull-right #slider_after,#toolBar .pull-right #slider_after .sliderInner    
{
width: 130px !important;
}








